@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import "tailwindcss";

@theme{
    /* Background Images */
    --background-image-custom-image1: url('../images/airplane-bg-1.jpg');
    
    --background-image-custom-dc3Image: url('../images/dc-3.png')
}

@layer base{
    body{
        font-family: "Josefin Sans", sans-serif;
    }
}


@keyframes slide-in-left {
  from { opacity: 0; transform: translateX(-50px); }
  to { opacity: 1; transform: translateX(0); }
}